* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: hsl(0, 0%, 96%);
  }
  main {
    padding: 20px;
  }
  
  .about h2 {
    margin-bottom: 20px;
  }
  
  .about h3 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .about p {
    margin-bottom: 15px;
  }